body {
    background:
        linear-gradient(
            rgba(0, 0, 43, .4),
            rgba(0, 0, 43, .4)
            ),
        url("nice.jpg");
    font-family: "Freestyle Script";
}

h1 {
    font-size: 96px;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: default;
    color: #66FFCC;
}

h1:hover {
    color: #00FFFF;
}

h2 {
    font-size: 48px;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: default;
}

#title {
    color: #66FFCC;
    margin-top: 5px;
}

#title:hover{
    color: #00FF99;
}

main {
    width: 990px;
    margin: auto;
}

.time-wasters, .school, .online-courses {
    width: 320px;
    height: 380px;
    display: inline-block;
    background-color: rgba(0,0,0,.30);
    margin: 0 3px 0 3px;
    border: 2px solid rgba(145, 145, 145, 0.4);
    text-align: center;
}

.news, .media, .misc {
    width: 320px;
    height: 380px;
    display: inline-block;
    background-color: rgba(0,0,0,.30);
    margin: 4px 3px 0 3px;
    border: 2px solid rgba(145, 145, 145, 0.4);
    text-align: center;
}

.news {
    float: left;
}

.media {
    float: left;
}

.misc {
    float: right;
}

.container {
    font-size: 24px;
    color: #169BD5;
}

input {
    background-color: rgba(255,255,255,.1);
    background: transparent;
    font-family: "Freestyle Script";
    font-size: 24px;
    width: 80%;
    border: none;
    color: #169BD5;
    border-left: 2px solid rgba(145, 145, 145, 0.4);
    border-top: 2px solid rgba(145, 145, 145, 0.4);
    border-bottom: 2px solid rgba(145, 145, 145, 0.4);
}

button {
    background-color: rgba(255,255,255,.5);
    background: transparent;
    border: none;
    font-family: "Freestyle Script";
    font-size: 25.5px;
    color: #169BD5;
    border-right: 2px solid rgba(145, 145, 145, 0.4);
    border-top: 2px solid rgba(145, 145, 145, 0.4);
    border-bottom: 2px solid rgba(145, 145, 145, 0.4);
}

.time-wasters {
    float: left;
}

.school {
    float: left;
}

.online-courses {
    float: right;
}

a{
    font-size: 36px;
    display: block;
    color: #169BD5;
    text-decoration: none;
    margin-top: 10px;
}

a:hover {
    color: #33CC66;
}

h3 {
    margin: 0;
    padding: 0;
}